/* Project Code  */
h1{
  color: var(--gray-light);
}

.container{
  background-color: var(--gray-dark);
  width: clamp(400px, 600px, 80%);
  margin: 40px 0;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 2px 16px var(--gray-light);

}

.container .tab_box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 10px 0;
  border-bottom: 2px solid var(--gray-light);
  margin-bottom: 10px;
  position: relative;
}

.tab_box .tab_btn{
  border: none;
  background: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  color: var(--gray-light);
  padding: 0 10px;
}

.content_box .content {
  padding: 10px;
  display: none;
  color: var(--gray-light);
}

.tab_btn.active{
  color: var(--primary-color);
}

.tab_box .line{
  position: absolute;
  border: 2px solid var(--primary-color);
  bottom: -3px;
  left: 0;
  border-radius: 24px;
  width: 100px;
  transition: all 0.2s ease-in;
}

.content.active{
  display: block;
  animation: 0.5s moving ease;

}


@keyframes moving {
  from{
    transform: translateX(50px);
    opacity: 0;
  }

  to{
    transform: translateX(0);
    opacity: 1;
  }
}