/* DAY 01 - Counter Intelligent */
/* Project Settings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color : #F2BF26 ;
  --black-color: #121110;
  --white-color: #F2F0E9;
  --gray : #32312D;
  --gray-light: #A6A194;
  --gray-dark: #0D0C0C;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  flex-direction: column;
}


/* Project Code  */

h1{
  color: var(--gray-light);  
  margin-bottom: 26px;
}

.counter-wrapper{
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border-radius: 16px;
}

.count{
  border-right: 1px solid var(--gray-dark);
  border-left: 1px solid var(--gray-dark);
  margin: 0 10px;
  padding: 0 20px;
  pointer-events: none;
  font-weight: 600;

}

.counter-wrapper{
  color: var(--black-color);
  font-size: 32px;
}

.minus, .plus{
  font-weight: 500;
  cursor: pointer;
}