h1{
  color: var(--gray-light); 
  margin-bottom: 26px;

}

.counter-wrapper{
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border-radius: 16px;
}

.count{
  border-right: 1px solid var(--gray-dark);
  border-left: 1px solid var(--gray-dark);
  margin: 0 10px;
  padding: 0 20px;
  pointer-events: none;
  font-weight: 600;

}

.counter-wrapper{
  color: var(--black-color);
  font-size: 32px;
}

.minus, .plus{
  font-weight: 500;
  cursor: pointer;
}