/* DAY 05 - Modal */
/* Project Settings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color : #F2BF26 ;
  --black-color: #121110;
  --white-color: #F2F0E9;
  --gray : #32312D;
  --gray-light: #A6A194;
  --gray-dark: #0D0C0C;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--gray);
  flex-direction: column;
  position: relative;
}

.signature{
  text-align: center;
  color: var(--primary-color);
  position: absolute;
  right: 35px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.signature span {
  font-size: 14px;
}
.author{
  font-weight: 600;
}

