/* Project Code  */
h1{
  margin-top: 10%;
  color: var(--gray-light);  
}


.modal-btn-trigger{
  padding: 12px 26px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  margin: 32px auto 0;
  font-size: 18px;
  cursor: pointer;
  display: block;
  background-color: var(--white-color);
}

.modal-overlay{
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(13, 12, 12, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal button{
  background-color: brown;
  padding: 5px;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  display: block;
  width: fit-content;
  margin-left: auto;
  box-shadow: 0 0.5px 3px var(--gray-dark);
  cursor: pointer;
  transition: .2s all ease;
}

.modal button:hover{
  transform: scale(0.9);
}
.modal{
  background-color: var(--white-color);
  border-radius: 24px;
  width: 500px;
  height: auto;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.active{
  display: flex;
}


.modal-overlay.active .modal{
  animation: moving .5s ease;

}

@keyframes moving {
  from{
    opacity: 0;
    transform: translateY(25px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}
