/* Project Code  */
h1{
  color: var(--gray-light);  
  margin-top: 10%;

}

.faq-wrapper{
  max-width: 700px;
  color: var(--gray-light);
  background-color: var(--gray-dark);
  border-radius: 24px;
  box-shadow: 0px 2px 10px var(--gray-light);
  margin: 30px 0;
  overflow: hidden;

}

.faq{
  padding: 0 20px 10px;
  cursor:pointer;
  transition: .3s all ease;
}

.faq:hover{
  background-color: #292626;
}
.faq .question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.faq .answer{
  max-height: 0;
  overflow: hidden;
  /* transition: .3s all ease; */

}

.faq.active{
  background-color: #292626;
}

.faq.active .answer{
  max-height: 500px;
  height: auto;
  animation: moving 0.3s ease;
}

svg{
  height: 30px;
  width: 30px;
  transition: 0.5s all ease;

}

.faq.active svg{
  transform: rotate(180deg);

}

@keyframes moving {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}